{% include "header.html" %}
<body>
<div><p>Der Gesamtumsatz ist: {{ umsatz_gesamt }} CHF</p></div>
<div><p>Der Umsatz der Ketten ist: {{ umsatz_ketten }} CHF</p></div>
<div><p>Der Umsatz der Armbänder ist: {{ umsatz_armband }} CHF</p></div>
<div><p>Der Umsatz der Ringe ist: {{ umsatz_ring }} CHF</p></div>
<div><p>Der Umsatz der Ohrringe ist: {{ umsatz_ohrring }} CHF</p></div>
<div>
    <form method="POST">
        <table class="table table-striped m-4">
            <thead style="background-color:rgb(238, 180, 180)">
            <th style="width: 10%" scope="col">Name</th>
            <th style="width: 10%" scope="col">Adresse</th>
            <th style="width: 10%" scope="col">Produkt</th>
            <th style="width: 10%" scope="col">Material</th>
            <th style="width: 10%" scope="col">Anzahl</th>
            <th style="width: 10%" scope="col">Gravur</th>
            <th style="width: 10%" scope="col">Status</th>
            <th style="width: 10%" scope="col">Auswahl</th>
            </thead>
            <tbody>
            {% for element in bestell_uebersicht %}

            <tr>
                <td>{{element[0]}}</td>
                <td>{{element[1]}}</td>
                <td>{{element[2]}}</td>
                <td>{{element[3]}}</td>
                <td>{{element[4]}}</td>
                <td>{{element[5]}}</td>
                <td>{{element[7]}}</td>
                <td>
                    <form method="POST" action="{{ url_for('backend') }}">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ element[6] }}" id="flexRadioDefault4"
                                   value="nicht im Lager">
                            <label class="form-check-label" for="flexRadioDefault4">nicht im Lager</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ element[6] }}" id="flexRadioDefault5"
                                   value="im Lager">
                            <label class="form-check-label" for="flexRadioDefault5">Im Lager</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ element[6] }}" id="flexRadioDefault6"
                                   value="Versendet">
                            <label class="form-check-label" for="flexRadioDefault6">Versendet</label>
                        </div>
                        <button type="submit">Senden</button>
                    </form>
                </td>


            </tr>

            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
</body>
</html>