<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{{ beers }}
<body>
    <table>
          <thead style ="text-align:left">
            <tr>
                {% for header in table_header %}
                    <th>{{ content }}</th>
                {% endfor %}
            </tr>
          </thead>
        <tbody>
        {% for row in beers %}
        <tr>

        <td>{{row["name"}}</td>
        <td>{{row["herkunft"}}</td>
        <td>{{row["vol"}}</td>
        <td>{{row["brauerei"}}</td>
        <td>{{row["preis"}}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
</body>
</html>