{% include "header.html" %}
<!-- Wiederholende Codes können mittels Jinja eingebaut werden -->
<!-- Header -->

<!-- Bestellübersicht Spaltenanzeige-->
<body>
<div>
    <table class="table table-striped m-4">
        <thead style="background-color:rgb(255, 211, 155)"> <!-- Farbe Hintergrund -->
        <th style="width: 10%" scope="col">Name</th> <!-- Überschriften Bestellliste-->
        <th style="width: 10%" scope="col">Adresse</th>
        <th style="width: 10%" scope="col">Produkt</th>
        <th style="width: 10%" scope="col">Material</th>
        <th style="width: 10%" scope="col">Anzahl</th>
        <th style="width: 10%" scope="col">Gravur</th>
        </thead>
        <tbody>

        <!-- Wiederholende Codes können mittels Jinja eingebaut werden -->
        <!-- 6 Elemente die in der Bestellübersicht sichtbar sind -->
        {% for element in bestell_uebersicht %}
        <tr>
            <td>{{element[0]}}</td> <!-- Liste mit gespeicherten Elementen -->
            <td>{{element[1]}}</td>
            <td>{{element[2]}}</td>
            <td>{{element[3]}}</td>
            <td>{{element[4]}}</td>
            <td>{{element[5]}}</td>

        </tr>
        {% endfor %}
        <!-- Liste auflisten in Html, render wird im Template mitgeben-->
        </tbody>
    </table>
</div>
</body>
</html>