<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Title</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/shop" class="nav-link px-2 text-white">Shop</a></li>
          <li><a href="/formular" class="nav-link px-2 text-white">Daten erfassen</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Bestellungen Auflisten</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About us</a></li>
        </ul>

        </div>
      </div>
    </div>
  </header>

