{% include "header.html" %}

<main><p><h5>Herzog & Loibner Produktkatalog</h5></p>

<body>
<div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="kette"  src="kette.jpeg" alt="Kette"></div>
                <div class="col-md-6 mt-1">
                    <h5>Kette</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Collier Fantasy 7 mm, Länge: 50 cm</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Goldfarbe: Rosegold</span><span class="dot"></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Farbmöglichkeiten: Geldgold, Rosegold & Weissgold</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Die 18 Karat Gold Ketten von Herzog Loibner stehen für höchste Qualität.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">3000 CHF</h4>
                    </div>
                    <h6 class="text-success">Gratis Versand</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Bestellen</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/JvPeqEF.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Armband</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Armband Fantasy 7 mm</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Goldfarbe: Weissgold</span><span class="dot"></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Farbmöglichkeiten: Geldgold, Rosegold & Weissgold</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Die 18 Karat Gold Armbänder von Herzog Loibner stehen für Eleganz.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">1500 CHF</h4>
                    </div>
                    <h6 class="text-success">Gratis Versand</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Bestellen</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/Bf4dIaN.jpg"></div>
                <div class="col-md-6 mt-1">
                   <h5>Ring</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Model: Aldusblattring,</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Goldfarbe: Gelbgold</span><span class="dot"></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Farbmöglichkeiten: Geldgold, Rosegold & Weissgold</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Die Aldusblatt Ringe bringen Liebe und Schönheit zum Ausdruck. <br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">1000 CHF</h4>
                    </div>
                    <h6 class="text-success">Gratis versand</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Bestellen</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/HO8e9b8.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Ohrring</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Grösse Creole: gross 18 mm</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Goldfarbe: Rosegold<</span><span class="dot"></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Farbmöglichkeiten: Geldgold, Rosegold & Weissgold</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Mit diesem Ohrschmuck  wird jeder Auftritt zu einem Blickfänger.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">2500 CHF</h4>
                    </div>
                    <h6 class="text-success">Gratis versand</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Bestellen</button></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<
</body>
</html>
