{% include "header.html" %}
<!-- Wiederholende Codes können mittels Jinja eingebaut werden -->
<!-- Header -->

<body>
<!-- Titel 1 -->
<!-- Liste auflisten in Html,  element umsatz einbauen -->
<p><h3>Umsätze insgesamt</h3></p>
<div><p>Der Gesamtumsatz ist: {{ umsatz_gesamt }} CHF</p></div>
<div><p>Der Umsatz der Ketten ist: {{ umsatz_ketten }} CHF</p></div>
<div><p>Der Umsatz der Armbänder ist: {{ umsatz_armband }} CHF</p></div>
<div><p>Der Umsatz der Ringe ist: {{ umsatz_ring }} CHF</p></div>
<div><p>Der Umsatz der Ohrringe ist: {{ umsatz_ohrring }} CHF</p></div>
<br>
<p>
<h3>Übersicht der Umsätze</h3></p>
{{ balkendiagramm|safe }} <!-- safe = unveränderte Datenübergabe mit Jinja Code -->
</br>
</body>
<!-- Balkendiagramm -->
<!-- Titel 2 -->
</html>